ul li {
	background: blue;
}

li + #thirditem {
	background: yellow;
}
/**** Не изменять выше этой линии. Добавлять ниже. ****/

Ul #thirditem {
	background: green;
}

h2 {
	font-size: 0.8em;
}

h3 {
	font-size: 0.8rem;
}
