.myTitle {
	font-family: 'Gochi Hand', cursive;
	font-weight: 400;
	font-style: normal;
}

h2 {
	font-size: 0.8em;
}

h3 {
	font-size: 0.8rem;
}

.button {
	padding: 10px;
	border-radius: 4px;
	background-color: orange;
	color: white;
	text-decoration: none;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: darkorange;
}

@keyframes example {
	0% {
		transform: translate(0, 0) rotate(0deg);
		background-color: red;
	}
	25% {
		transform: translate(200px, 0) rotate(90deg);
		background-color: yellow;
	}
	50% {
		transform: translate(200px, 200px) rotate(180deg);
		background-color: blue;
	}
	75% {
		transform: translate(0, 200px) rotate(270deg);
		background-color: green;
	}
	100% {
		transform: translate(0, 0) rotate(360deg);
		background-color: red;
	}
}

#animated_div1 {
	width: 100px;
	height: 100px;
	text-align: center;
	color: bisque;
	position: relative;
	background-color: plum;
	animation-name: example;
	animation-duration: 4s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#animated_div2 {
	width: 100px;
	height: 100px;
	text-align: center;
	color: bisque;
	position: relative;
	background-color: plum;
	animation-name: example;
	animation-duration: 4s;
	animation-delay: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

#animated_div3 {
	width: 100px;
	height: 100px;
	text-align: center;
	color: bisque;
	position: relative;
	background-color: plum;
	animation-name: example;
	animation-duration: 4s;
	animation-delay: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}

#animated_div4 {
	width: 100px;
	height: 100px;
	text-align: center;
	color: bisque;
	position: relative;
	background-color: plum;
	animation-name: example;
	animation-duration: 4s;
	animation-delay: 8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

#animated_div5 {
	width: 100px;
	height: 100px;
	text-align: center;
	color: bisque;
	position: relative;
	background-color: plum;
	animation-name: example;
	animation-duration: 4s;
	animation-delay: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
