@page
@model ErrorModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">При обработке вашего запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Идентификатор запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим разработки</h3>
<p>
    Переход в среду <strong>Разработка</strong> отображает подробную информацию об ошибке, которая произошла.
</p>
<p>
    <strong>Среда разработки не должна быть включена для развернутых приложений.</strong>
    Это может привести к отображению конфиденциальной информации из исключений для конечных пользователей.
    Для локальной отладки включите среду <strong>Разработка, </strong> установив <strong>ASPNETCORE_ENVIRONMENT</strong> переменную окружения в <strong> Разработку</strong>
    и перезапустите приложение.
</p>
