@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>В RazorPagesApp мы уважаем вашу конфиденциальность и обязуемся защищать вашу личную информацию. Эта политика конфиденциальности объясняет, как мы собираем, используем и раскрываем информацию, когда вы используете наш RazorPagesApp, и относится ко всем пользователям RazorPagesApp.</p>
<h2>Информация, которую мы собираем</h2>
<p>Когда вы используете RazorPagesApp, мы можем собирать следующую информацию:</p>
<ul>
    <li><strong>Личная информация:</strong> Мы можем собирать личную информацию, которую вы предоставляете нам, например, ваше имя, адрес электронной почты и другие контактные данные.</li>
    <li><strong>Информация об использовании:</strong> Мы можем собирать информацию о том, как вы используете RazorPagesApp, например, историю просмотров, поисковые запросы и другие данные об использовании.</li>
    <li><strong>Информация об устройстве:</strong> Мы можем собирать информацию об устройстве, которое вы используете для доступа к RazorPagesApp, например, ваш IP-адрес, тип устройства и операционную систему.</li>
</ul>
<h2>Как мы используем вашу информацию</h2>
<p>Мы можем использовать вашу информацию для следующих целей:</p>
<ul>
    <li><strong>Для предоставления и улучшения RazorPagesApp:</strong> Мы можем использовать вашу информацию для работы и улучшения RazorPagesApp, в том числе для персонализации вашего опыта и предоставления технической поддержки.</li>
    <li><strong>Чтобы общаться с вами:</strong> Мы можем использовать вашу информацию для связи с вами, например, для отправки вам обновлений о RazorPagesApp или для ответа на ваши вопросы или комментарии.</li>
    <li><strong>Для исследований и разработок:</strong> Мы можем использовать вашу информацию в целях исследования и разработки, например, для тестирования и улучшения характеристик и функциональности RazorPagesApp.</li>
    <li><strong>Для юридических целей:</strong> Мы можем использовать вашу информацию в соответствии с требованиями закона, например, для выполнения повестки в суд или другого судебного процесса, или для защиты прав, собственности или безопасности RazorPagesApp, наших пользователей или других лиц.</li>
</ul>
<h2>Как мы делимся вашей информацией</h2>
<p>Мы можем передавать вашу информацию третьим лицам в следующих случаях:</p>
<ul>
    <li><strong>Поставщики услуг:</strong> Мы можем передавать вашу информацию поставщикам услуг, которые оказывают услуги от нашего имени, например, хостинг-провайдерам, провайдерам аналитики и другим поставщикам технологий.</li>
    <li><strong>Бизнес-перевод:</strong> Мы можем поделиться вашей информацией, если мы участвуем в слиянии, приобретении или продаже всех или части наших активов. В таких случаях ваша информация может быть передана приобретающей компании.</li>
</ul>
