body,
h1,
h2,
button {
	font-family: Arial, sans-serif;
}

.container {
	max-width: 1200px;
	margin: 40px auto;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero {
	background-color: #f7f7f7;
	padding: 20px;
	display: flex;
}

.hero-content button {
	border-radius: 4px;
}
.hero h1 {
	margin-top: 0;
}

.features {
	display: flex;
	justify-content: center;
}

.feature {
	flex-basis: 30%;
	margin: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.feature h2 {
	margin-top: 0;
}

.feature button {
	background-color: #fff;
	color: #ccc;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.feature button:hover {
	background-color: #f7f7f7;
	color: #333;
}

button {
	background-color: #337ab7;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}

button:hover {
	background-color: #23527c;
}

button.outline {
	background-color: #fff;
	color: #337ab7;
	border: 1px solid #337ab7;
}

button.outline:hover {
	background-color: #f7f7f7;
}
