.welcome-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
}

.welcome-box {
    background-color: #f5f5f5;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-box img {
    margin-bottom: 10px;
    width:160px;
    height: 160px;
}

.welcome-box audio {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.welcome-header {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333;
}

.welcome-text {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #666;
}

.music-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.music-link:hover {
    text-decoration: underline;
}

audio {
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-slider-thumb

{
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #666;
    cursor: pointer;
}

::-webkit-media-controls-timeline {
    background-color: #ccc;
}

::-webkit-media-controls-play-button {
    background-color: #666;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

::-webkit-media-controls-mute-button {
    background-color: #666;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
}